# Web framework
Django==6.0

# REST API
djangorestframework==3.15.2

# PostgreSQL adapter
psycopg2-binary==2.9.9

# Environment variables from .env file
django-environ==0.11.2

# Async task queue
celery==5.4.0

# Celery result backend / broker
redis==5.0.8

# Kafka client (producer & consumer)
kafka-python==2.0.2

# CORS headers (needed for the React frontend)
django-cors-headers==4.4.0

# JWT authentication
djangorestframework-simplejwt==5.3.1

# Testing
pytest-django==4.9.0
pytest==8.3.5
PyJWT==2.9.0